<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Nosotros</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">nosotros</ion-title>
    </ion-toolbar>
  </ion-header>
<br><br>
  <ion-button (click)="obtenerUbicacion()">
Obtener ubicación
</ion-button>
<p>Lat: {{ actualLat }} - Lng: {{ actualLon }} - Dist: {{ distancia }}
</p>

 <ion-button (click)="(distanciaTotal())">
Distancia Total
</ion-button>
<p>Dist: {{ distancia }}
</p>

 


</ion-content>
